<div class="actividades-container">
   <!-- Sección del Formulario -->
  <div class="top-section">
    <section class="form-section">
      <div class="form-card">
        <h2>
          {{ esEdicion ? 'Editar Actividad' : 'Nueva Actividad' }}
        </h2>
        <div class="input-group">
          <label>Nombre de la actividad</label>
          <input
            type="text"
            [(ngModel)]="actividadSeleccionada.nombreActividad"
            name="nombreActividad"
            placeholder="Digite el nombre de la actividad..."
            (keyup.enter)="guardar()">
          <div class="error"
               *ngIf="campoTocado && nombreActividadInvalido">
            El nombre de la actividad es obligatorio
          </div>

          <label>¿A qué actividad económica pertenece?</label>
          <select
            [(ngModel)]="actividadSeleccionada.idActividadEconomica"
            name="idActividadEconomica">

            <option [value]="undefined">
              Seleccione...
            </option>

            <option
              *ngFor="let eco of listaActividadesEconomicas"
              [value]="eco.id">
              {{ eco.nombreActividadEconomica }}
            </option>

          </select>

          <div class="error"
               *ngIf="campoTocado && actividadEconomicaInvalida">
            Debe seleccionar una actividad económica
          </div>
        </div>

        <div class="form-actions">
          <button class="btn-save" (click)="guardar()">
            {{ esEdicion ? 'Actualizar' : 'Guardar' }}
          </button>

          <button
            *ngIf="esEdicion"
            class="btn-cancel"
            (click)="limpiarFormulario()">
            Cancelar
          </button>
        </div>
      </div>
    </section>

    <section class="stats">
      <div class="card total-card">
        <p>Total actividades</p>
        <h3>📋{{ listaActividades.length }}</h3>
      </div>
    </section>
  </div>

   <!-- Sección de la Tabla (Visor) -->
  <section class="table-section">
    <div class="table-container">
      <table class="kontagro-table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Descripción de la Actividad</th>
            <th>Actividad Económica</th>
            <th class="text-center">Acciones</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let act of listaActividades">
            <td>{{ act.idActividad }}</td>
            <td>{{ act.nombreActividad }}</td>
            <td>{{ act.nombreActividadEconomica }}</td>
            <td class="col-actions">
              <button class="btn-edit" (click)="prepararEdicion(act)">
                ✏️
              </button>
              <button class="btn-delete" (click)="eliminar(act.idActividad!)">
                🗑️
              </button>
            </td>
          </tr>

          <tr *ngIf="listaActividades.length === 0">
            <td colspan="4" class="empty-message">
              No hay actividades registradas.
            </td>
          </tr>
        </tbody>
      </table>

    </div>
  </section>

</div>