<div class="menu-container">
  <section class="welcome-section">
    <h1>¡Bienvenido a tu Sistema de Gestión!</h1>
  </section>

  <div class="main-grid-content">
    <div class="main-banner">
      <img src="assets/img/ImgMenu.png" alt="Panorama KontAgro">
    </div>

    <div class="dashboard-cards">
      <div class="card">
        <img src="assets/img/Aguacate.png" alt="Cultivos">
      </div>
      <div class="card">
        <img src="assets/img/Calendario.png" alt="Calendario">
      </div>
      <div class="card">
        <img src="assets/img/Gráfica.png" alt="Finanzas">
      </div>
    </div>
  </div>
  <p class="subtitle">
    Sistema de gestión agrícola y financiera para tus cultivos.
  </p>
</div>